 #jumbo div{
    height: 20vh;
    padding: 10px;
 }

 #jumbo div span{
    display: block;
    height: 18vh;
    width: 100%;
    margin-top: 1vh;
    background-color: aqua;
    border-radius: 5px;
 }

 