.col-md-3 , .col-md-9{
  display: flex;
  text-align: center;
  font-size: 25px;
  border: 5px solid black;
  height: 100vh;
}

@media screen and (max-width: 768px) {
.col-md-3{
   height: 10vh;
}
}

/* Customize the scrollbar for the entire page */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Customize the thumb (the part that you drag) */
::-webkit-scrollbar-thumb {
  background-color: #7e67bd; /* Set the color of the thumb */
 
}

 

 